@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr/>
<div class="row">
    <iframe width="100%" height="580"
            src="https://app.powerbi.com/reportEmbed?reportId=6105b82b-5cdc-4e14-9b79-d5aa69f51adc&autoAuth=true&ctid=f25493ae-1c98-41d7-8a33-0be75f5fe603"
            frameborder="0" allowFullScreen="true"></iframe>
</div>
