
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Unauthorized</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login <a href="https://federate.volvo.com/as/authorization.oauth2?client_id=ORDMdealerreports&response_type=token&redirect_uri=https://dealerinsights.azurewebsites.net/"></a>.</p>
</div>